.resume {
    background-color: snow;  

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: auto;
}

.resume-container {
    justify-content: center;
    padding: 64px;
    overflow: visible;
}

.resume-preview {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 840px) {
    .resume {
        display: block;
    }

    .resume-container {
        display: inline-block;
    }

}