.resume {
    background-color: snow; 
    position: relative;  
    z-index: -1; 
    justify-content: center;
}

.resume-container {
    display: flex;
    justify-content: center;
    margin: auto;

    /* width: 1080px; */
    /* height: 1080px; */
}

.resume-preview {
    /* width: 1080px; */
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 720px) {
    /* .resume {
        todo
    } */
}