.footer {
    background-color: white;
    border-top-style: solid;
    border-top-color: #ccc;
    border-top-width: 1px;
    justify-content: center;
}

.footer-container {
    width: 640px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.social {
    padding: 32px;
    width: 200px;
}

.social h1 {
    color: #444;
    font-size: 1.5em;
    font-weight: 300;
    padding: 16px 0;
}

.social ul { 
    color: #666;
    list-style: none;
    padding-bottom: 32px;
    
}

.social li {
    padding-bottom: 4px;
}

.social li a:hover {
    color: #000;
}
.social li a {
    transition: all .2s ease-in-out;
    color: #666;
    text-decoration: none;
}

.about {
    padding: 32px;
    width: 200px;
}

.about h1 {
    color: #444;
    font-weight: 300;
    font-size: 1.5em;
    padding: 16px 0;
}

.about p {
    color: #666;
}

@media screen and (max-width: 720px) {
    .footer-container {
        max-width: 100%;
        width: 100%;
    }
}