.post {
    background-color: snow;
    padding: 16px 0;
}

.post-container {
    width: 640px;
}

.post h1 {
    padding: 16px 0;
    color:#333;
    font-size: 1.5rem;
}

.post p {
    padding: 8px 0;
    color: #444;
}

.post p a {
    color: #444;
}

.post p a:hover {
    color: blue;
}

.container {
    width: 720px;
}